/* for making the ball bounce*/
@keyframes ball
{
  0%   { transform: translateY(0); }
  50%  { transform: translateY(200px);}
  100% { transform: translateY(0); }
}


 @keyframes shadow{
  0%   { transform: scale(2); }
  50%  { transform: scaleX(0.5);}
  100% { transform: scale(2); }
}
@keyframes sun{
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);} 
}

.sun{
  margin:50px;
width: 100px;
height: 100px;
animation : sun 5s infinite linear;
}

 .shadow{
  border-radius: 50%;
  margin: 50px;
  width: 90px;
  height: 10px;
  background-color: rgb(163, 163, 163);
  animation: shadow 2s infinite;
 }
 .ball {
  margin: 50px;
  width: 100px;
  height: 100px;
  background: linear-gradient(25deg, rgb(255, 13, 0), blue);
  border-radius: 50%;
  animation: ball 2s infinite; 
}

/*instead of using linear, we can use:

ease (slow-fast-slow),
ease-in (slow start),
ease-out (slow end),
ease-in-out (smooth both sides). */



/* @keyframes squareMove {
  0%   { transform: translate(0, 0); }      
  25%  { transform: translate(200px, 0); }    
  50%  { transform: translate(200px, 200px);}
  75%  { transform: translate(0, 200px);}    
  100% { transform: translate(0, 0); } 
}

.ball {
  margin: 50px;
  width: 100px;
  height: 100px;
  background: linear-gradient(25deg, red, blue);
  border-radius: 50%;
  position: relative;
  animation: squareMove 4s infinite linear;
} */
